body {
  height: 750px;
  background-color: #fafafa;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
  height: 90px;
  margin: auto;
  background-color: bisque;
  #navSearch {
    padding: auto;
    width: 300px;
    height: 40px;
  }
  #searchResult {
    position: absolute;
    width: 300px;
    background-color: white;
  }
  #popupSection {
    position: absolute;
    width: 200px;
    background-color: azure;
    display: none;
  }

  #popupSection.appear {
    position: absolute;
    width: 200px;
    background-color: azure;
    display: block;
  }
}

.main {
  width: 900px;
  height: 100%;
  margin: auto;
  display: flex;
  background-color: #fafafa;
  .feedSection {
    width: 600px;
    height: 700px;
    margin: auto;
    overflow: scroll;
    background-color: black;
    .feed {
      width: 90%;
      height: auto;
      border: 2px solid #f0f0f0;
      background-color: white;
      margin: 20px auto;
      .feedUserInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        border-bottom: 2px solid #f0f0f0;
        padding: 10px 10px;
        .feedHeaderEle {
          display: flex;
          align-items: center;
        }
        .moreView {
          width: 20px;
          height: 20px;
        }
      }
      .feedImg {
        width: 100%;
      }
      .feedNav {
        border-top: 2px solid #f0f0f0;
        border-bottom: 2px solid #f0f0f0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 20px;
        width: 100%;
        height: 40px;
      }
      .feedNavUtil {
        display: flex;
        flex-direction: row;
      }
      .likeCheckIcon {
        width: 25px;
        height: 25px;
        appearance: none;
        background-image: url('../../../assets/ohkyukwon/emptyHeart.png');
        background-size: cover;
      }
      .likeCheckIcon:checked {
        // width: 25px;
        // height: 25px;
        // appearance: none;
        background-image: url('../../../assets/ohkyukwon/fullHeart.png');
      }
      .commentCheckIcon {
        width: 20px;
        height: 20px;
        margin: 5px;
        appearance: none;
        background-image: url('../../../assets/ohkyukwon/openComment.png');
        background-size: cover;
      }
      .commentCheckIcon:checked {
        background-image: url('../../../assets/ohkyukwon/closeComment.png');
      }
      .shareIcon {
        width: 20px;
        height: 20px;
        margin: 5px;
      }
      .bookMarkIcon {
        width: 18px;
        height: 20px;
      }
      .likeCountSection {
        font-size: 15px;
        margin: 10px 10px;
      }
      .feedContents {
        height: 60px;
        padding: 10px;
      }
      .countTime {
        margin: 5px 10px;
        font-size: 12px;
      }
      .commentSection {
        border-top: 2px solid #f0f0f0;
        padding: 10px;
        height: auto;

        .comment {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 12px;
          .commentUtil {
            display: flex;
            align-items: center;
            .CommentLikeIcon {
              width: 20px;
              height: 20px;
              appearance: none;
              background-image: url('../../../assets/ohkyukwon/emptyHeart.png');
              background-size: cover;
            }
            .CommentLikeIcon:checked {
              background-image: url('../../../assets/ohkyukwon/fullHeart.png');
            }
            .commentDeleteIcon {
              width: 20px;
              height: 20px;
              border: none;
              background-image: url('../../../assets/ohkyukwon/delelte.png');
              background-color: white;
              background-size: cover;
            }
          }
        }

        #commentInput {
          border: none;
          width: 90%;
          height: 35px;
          background-color: transparent;
        }
        #commentBtn {
          width: 10%;
          height: 30px;
          border: none;
          background-color: transparent;
          color: #5aa7f2;
        }
      }
    }
  }
  .feedSection::-webkit-scrollbar {
    display: none;
  }
  .userSection {
    width: 250px;

    background-color: black;
    margin: 20px;
    .userInfo {
      width: 80%;
      height: 60px;
      background-color: aquamarine;
      margin: auto;
    }
  }
  .storyHeader {
    width: 250px;
    margin-left: 20px;
    height: 40px;
    background-color: brown;
  }

  .mainRightTop {
    width: 250px;
    height: 20%;
    background-color: black;
    margin: 20px;
    margin-top: 0px;
    overflow: scroll;

    .storyList {
      width: 200px;
      height: 35px;
      background-color: aqua;
      padding-left: 10px;
      margin: 10px auto;
    }
  }
  .mainRightTop::-webkit-scrollbar {
    display: none;
  }
  .recommendHeader {
    width: 250px;
    height: 40px;
    background-color: brown;
    margin-left: 20px;
  }
  .mainRightBottom {
    width: 250px;
    height: 20%;
    margin: 20px;
    margin-top: 0px;
    background-color: black;
    overflow: scroll;

    .recommendList {
      width: 200px;
      height: 35px;
      background-color: aqua;
      margin: 10px auto;
    }
  }
  .mainRightBottom::-webkit-scrollbar {
    display: none;
  }

  .FooterSection {
    margin-left: 20px;
    width: 250px;
    background-color: #5aa7f2;
    .FooterLi {
      font-size: 12px;
      color: rgb(150, 149, 149);
      float: left;
      margin: 1px;
    }
  }
}

@media (max-width: 980px) {
  .navBar {
    width: 100%;
  }
  .mainRight {
    display: none;
  }
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .feedSection {
    width: 95%;
  }
}

@media (max-width: 350px) {
  #commentUserInfo {
    display: none;
  }
  #commentInput {
    display: none;
  }
  #commentBtn {
    display: none;
  }
}
