@import '../../../styles/mixin.scss';
@import '../../../styles/variable.scss';

.wrapperMain {
  @include flex;
  flex-direction: column;
}

.wrapperNav {
  display: none;
  height: 70px;
  line-height: 70px;
  border-bottom: $border;

  .innerNav {
    @include alignFit;
    @include align;
    width: 60%;
    margin: 0 auto;

    .logoBox {
      @include flex;
      @include align;
    }

    .westagramTitle,
    .logoDivSlash {
      margin-left: 30px;
      font-size: 22px;
    }

    .westagramLogo,
    .iconBox img,
    .wrapperState img {
      @include imageSizeSmall;
    }

    .search {
      width: 200px;
      padding: 5px 5px;
      background-color: $backgroundColor;
      border: $border;
      font-size: 12px;
      text-align: center;
    }

    .iconBox {
      @include flex;
      width: 200px;
      justify-content: space-around;
    }
  }
}

.wrapperFeeds {
  @include alignFit;
  background-color: $backgroundColor;
}

.feeds {
  @include alignFit;
  width: 50%;
  margin: 40px auto;
  padding: 0px 20px;
}

.feedsLeft {
  width: 60%;
  margin-right: 10px;
  background-color: white;
  border: $border;
}

.profileBox {
  @include alignFit;
  @include align;
  padding: 15px;

  .wrapperProfile {
    @include flex;
    @include align;
    width: 100%;

    .profileImage {
      @include imageSizeBig;
      border-radius: 50%;
      margin-right: 15px;
    }

    ul li:nth-child(1) {
      @include profileFontStyle;
    }

    ul li:nth-child(2) {
      @include profileFontStyle_location;
    }
  }

  .more {
    @include imageSizeSmall;
  }
}

.contents {
  height: 500px;
  background: url(../../../assets/hyeseonSeo/Main/camping1.jpg) no-repeat 50%;
  background-size: cover;
}

.stateBox {
  padding: 10px 15px 0px;

  .wrapperState {
    @include alignFit;
    padding: 15px 0px;

    .bookmark {
      @include imageSizeSmall;
    }
    .stateIcons {
      @include alignFit;
      width: 100px;
    }

    .stateIcons img {
      @include imageSizeSmall;
    }
  }
}

.likeMsg {
  @include flex;
  @include align;
  justify-content: flex-start;

  strong {
    font-weight: 700;
  }
}

.profileImageSizeSmall {
  @include imageSizeSmall;
  margin-right: 10px;
  border-radius: 50%;
}

.commentWrite {
  @include alignFit;
  padding: 10px 0px;

  span {
    line-height: 20px;

    strong {
      font-weight: 700;
    }
  }

  img {
    @include ImageMini;
  }
}

.commentsSample {
  padding: 10px 15px;

  .createComments {
    @include alignFit;

    ul strong {
      margin-right: 10px;
      font-weight: 700;
    }

    .likeBtn {
      width: 12px;
      height: 12px;
      margin-right: 10px;
    }
  }
}

.pushComments {
  padding-top: 10px;
}

.wrapperCommentsBox {
  @include alignFit;
  border-top: $border;

  .commentsInput {
    width: 90%;
    padding: 15px 15px;
    border-style: none;
    font-size: 12px;
  }

  .commentsBtn {
    width: 10%;
    font-size: 12px;
    border-style: none;
    background-color: transparent;
    color: #666;

    &:hover {
      color: $btnColor;
    }
  }
}

.mainRight {
  width: 37%;
}

.profileBox {
  @include alignFit;
  @include align;
  justify-content: flex-start;
  padding: 15px;

  .profileImageRight {
    @include imageSizeBig;
    margin-right: 10px;
    border-radius: 50%;
  }

  li:nth-child(1) {
    @include profileFontStyle;
  }

  li:nth-child(2) {
    @include profileFontStyle_location;
  }
}

.rightBoxRecommend {
  @include flex;
  margin-top: 15px;
  justify-content: flex-start;
}

.story,
.recommend {
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border: $border;
  height: 240px;
  overflow: scroll;

  .rightHeader {
    @include alignFit;

    span {
      font-size: 14px;
    }

    span:nth-child(1) {
      color: #ccc;
    }

    span:nth-child(2) {
      color: black;
      font-weight: 700;
    }
  }

  .rightBox {
    margin-top: 15px;

    .profileImageSizeMedium {
      @include imageSizeMedium;
      margin-right: 10px;
      border-radius: 50%;
    }

    div {
      @include align;
    }

    ul {
      width: 87%;
      display: inline-block;
      padding: 0px 5px;
      font-size: 14px;
    }

    li {
      @include alignFit;
      padding: 5px 0px;
    }

    p {
      color: #ccc;
    }
  }

  span {
    color: $btnColor;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 700;
  }

  .short {
    width: 140px;
    color: #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.aside span,
.copyRight {
  color: #ccc;
  font-size: 12px;
}

.copyRight {
  margin-top: 10px;
}
