@import '../../styles/mixin.scss';

.nav {
  margin: 0 auto;
  width: 100%;
  height: 70px;
  @include navDisplay;
  background-color: white;
  border-bottom: 2px solid #f0f0f0;
}

.navBox {
  @include navDisplay;
}

.logoBox {
  padding-right: 20px;
}

.logoTitle {
  font-family: 'Lobster', cursive;
  border-left: 3px solid black;
  padding-left: 20px;
}

.navIcons {
  position: relative;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.navIcons img {
  @include navImageSmall;
}

.logoImage {
  @include navImageSmall;
}

.dropDown {
  position: absolute;
  top: 45px;
  right: -45px;
}
.dropDownUl {
  position: relative;
  width: 200px;
  padding: 10px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgb(199, 199, 199);
}

.dropDownUl:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: white transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -15px;
  left: 128px;
}

.searchDiv {
  position: relative;
}
.searchResultcss {
  display: flex;
  align-items: center;
}
.searchResult {
  position: absolute;
  border: 2px solid #f0f0f0;
  background-color: #fafafa;
  width: 100%;
}

.dropDownLi {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-top: 10px;
}
.logoTitle {
  font-size: 22px;
}

.navInput {
  position: relative;
  text-align: center;
  padding: 3px 5px;
}

@media (max-width: 530px) {
  .searchResult {
    display: none;
  }
}
